* {
    padding: 0;
    margin: 0;
}

.section-login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 50px;
}

/*-------we start styling the left (section-login) here------*/

.section-login .left-form {
    background-color:white;
    height: 65vh;
    width: 350px;
    margin-top: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: 0px solid #dedcdc;
}

.section-login .left-form div{
    background-color:white;
    height: 65vh;
    width: 350px;
    /*margin-top: 50px;*/
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid #dedcdc;
}

.section-login h1{
    font-size: 20px;
    font-weight: bold;
    color: #02be6e;
    margin-top: 30px;
}

.section-login h{
    font-size: 14px;
    font-weight: bold;
}

.section-login .left-form div a {
    background-color: #008bff;
    color: white;
    padding: 12px 21px;
    font-weight: bold;
    /*font-size: 15px;*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 300px;
    height: 40px;
}

.section-login .left-form div a:hover {
    background-color: #076cc4;
    color: white;
    width: 300px;
    height: 40px;
    border-radius: 50px;
}

.section-login .left-form div a i {
    padding-right: 20px;
    font-size: 21px;
}


.section-login input{
    width: 300px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #cccccc;
}

.section-login input::placeholder {
    color: #cccccc;
    padding-left: 20px;
    font-size: 14px;
}

.section-login input[type=submit] {
    background-color: #02be6e;
    color: white;
}

.section-login input[type=submit]:hover {
    background-color: #028f53;
}


.section-login button[type=submit] {
    background-color: #02be6e;
    color: white;
    padding: 12px 21px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 300px;
}

.section-login button[type=submit]:hover {
    background-color: #028f53;
}

/*-------we start styling the right (section-login) form here------*/

.section-login .right-form {
    background-color:white;
    height: 85vh;
    width: 350px;
    margin-top: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*gap: 10px;*/
    border: 0px solid #dedcdc;
}

.section-login .right-form div{
    background-color:white;
    height: 85vh;
    width: 350px;
    /*margin-top: 50px;*/
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid #dedcdc;
}

.section-login h1{
    font-size: 20px;
    font-weight: bold;
    color: #02be6e;
    margin-top: 30px;
}

.section-login h{
    font-size: 14px;
    font-weight: bold;
}

.section-login .right-form div a {
    background-color: #008bff;
    color: white;
    padding: 12px 21px;
    font-weight: bold;
    /*font-size: 15px;*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 300px;
    height: 40px;
}

.section-login .right-form div a:hover {
    background-color: #076cc4;
    color: white;
    width: 300px;
    height: 40px;
    border-radius: 50px;
}

.section-login .right-form div a i {
    padding-right: 20px;
    font-size: 21px;
}


.section-login input{
    width: 300px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #cccccc;
}

.section-login input::placeholder {
    color: #cccccc;
    padding-left: 20px;
    font-size: 14px;
}

.section-login input[type=submit] {
    background-color: #02be6e;
    color: white;
    margin-top: 10px;
}

.section-login input[type=submit]:hover {
    background-color: #028f53;
}


.section-login .right-form div p {
    font-size: 12px;
    margin-top: 10px;
    padding-right: 90px;
}

.section-login .right-form div .terms-and-conditions {
    font-size: 0px;
    height: 20px;
    width: 20px;
    margin-right: 270px;
    background-color: red;
}

.section-login .right-form div label {
    font-size: 12px;
    position: absolute;
    top: 648px
    /*background-color: red;*/

    /*position: absolute;*/
    /*top: 10px;*/
}

.section-login button[type=submit] {
    background-color: #02be6e;
    color: white;
    padding: 12px 21px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 300px;
    margin-top: 30px;
}

.section-login button[type=submit]:hover {
    background-color: #028f53;
}

/*--------media query (screen 576px)--------*/

@media screen and (max-width: 576px) {
    .section-login {
        width: 100%;
        height: 180vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .section-login .right-form div label {
        font-size: 12px;
        position: absolute;
        top: 1314px
        /*background-color: red;*/

        /*position: absolute;*/
        /*top: 10px;*/
    }
}