* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*---------we style here the section-baner----------------*/

.section-baner{
    /*padding: 0;*/
    /*margin: 0;*/
    box-sizing: border-box;
    background-image: url("../images/designer2.png");
    max-width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    gap: 50px;
}

.section-baner h1{
    color: white;
    font-size: 35px;
    padding-top: 150px;
    padding-left: 100px;
}

.section-baner button {
    border-radius: 120px;
    background: transparent;
    color: #02be6e;
    height: 80px;
    width: 350px;
    border: 3px solid #02be6e;
    margin-left: 200px;
}

.section-baner button:hover {
    background-color: #02be6e;
}

.section-baner button a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
    transition-duration: 0.2s;
}

/*---------we style the section-identity (waarom zijn we hier)----------*/

.section-identity h1{
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 23px;
    color: #02be6e;
}

.section-identity p{
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.7;
    padding-bottom: 50px;
}

/*-------we style here the section-history-------*/

.section-history {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
}

.section-history img {
    width: 45%;
}

.text-history {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    /*align-items: center;*/
}

.text-history h {
    color: #008bff;
    letter-spacing: 1px;
    font-weight: bold;
    margin-left: 80px;
    padding-top: 50px;
}

.text-history h1 {
    font-weight: bold;
    font-size:40px;
    margin-left: 80px;
    margin-right: 100px;
    color: #02be6e;
}

.text-history p{
    margin-left: 80px;
    margin-right: 80px;
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.7;
}

/*---------we style here the section-value-text----------------*/
.section-value-text {
    height: 40vh;
    display: flex;
    border-bottom: 1px solid #07be6d;
}

.section-value-text .text-left {
    /*background-color: red;*/
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.text-left h {
    font-size: 16px;
    font-weight: bold;
    color: #008bff;
    /*margin-top: 30px;*/
    margin-left: 100px;
}

.text-left h1 {
    font-size: 35px;
    font-weight: bolder;
    margin-left: 100px;
    margin-right: 100px;
}


.section-value-text .text-right {
    width: 55%;
}

.text-right {
    width: 50%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-right p {
    font-size: 14px;
    font-weight: lighter;
    margin-left: 100px;
    margin-right: 100px;
}

/*---------we style here the section-value-icon----------------*/

.section-value-icons {
    display: flex;
    align-items: center;
    height: 50vh;

}
.section-value-icons div img {
    width: 37%;
}
.section-value-icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section-value-icons div p {
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}

.section-value-icons div h1 {
    text-align: center;
    font-size: 25px;
}

/*---------we style here the section-our-team----------------*/

.section-our-team {
    background-color: #eef8f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-our-team h {
    /*background-color: #eef8f4;*/
    font-size: 40px;
    font-weight: bolder;
    color: #02be6e;
    padding-top: 50px;

}

.our-team {
    display: flex;
    justify-content: center;
    gap: 250px;
    align-items: center;
    height: 50vh;
}

.our-team div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-team div p{
    font-size: 14px;
    font-weight: lighter;
}

.our-team div h1{
    font-size: 20px;
}

.our-team img {
    height: 170px;
    width: 170px;
}

/*---------we style here the section-our-team----------------*/

.creating-value {
    display: flex;
    align-items: center;
}

.creating-value div {
    width: 50%;
}

.creating-value img {
    width: 50%;
}

.creating-value div h {
    color: #008bff;
    letter-spacing: 1px;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 100px;
    /*padding-top: 100px;*/
}

.creating-value div h1 {
    font-weight: bold;
    font-size:40px;
    margin-left: 100px;
    margin-right: 100px;
    color: #02be6e;
}

.creating-value div h2 {
    font-weight: lighter;
    font-size:40px;
    margin-left: 100px;
    margin-right: 100px;
}

.creating-value div p {
    font-weight: lighter;
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.7;
    margin-left: 100px;
    margin-right: 100px;
}

/*----------------screen max-width: 576px----------------------------------------*/

@media screen and (max-width: 576px) {

    .section-baner {
        height: 40vh;
    }

    .section-baner h1{
        font-size: 20px;
        padding-top: 70px;
        padding-left: 20px;
        text-align: center;
    }

    .section-baner button {
        height: 50px;
        width: 200px;
        margin-left: 100px;
        margin-top: -10px;
    }

    .section-baner button a{
        font-size: 18px;
    }

    /*---------------------------*/

    .section-identity h1{
        margin-left: 40px;
        margin-right: 40px;
        font-size: 18px;
    }

    .section-identity p{
        margin-left: 40px;
        margin-right: 40px;
        padding-bottom: 30px;
    }

    /*---------------------------*/

    .section-history {
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-history img {
        width: 100%;
    }

    .text-history {
        gap: 20px;
        margin-top: 0px;
    }

    .text-history h {
        margin-left: 40px;
        padding-top: 35px;
    }

    .text-history h1 {
        font-size:30px;
        margin-left: 40px;
    }

    .text-history p{
        margin-left: 40px;
        margin-right: 40px;
        font-size: 14px;
        margin-bottom: 20px;
    }

    /*---------------------------*/

    .section-value-text {
        height: 40vh;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #07be6d;
        /*background-color: red;*/
        height: 50vh;

    }

    .section-value-text .text-left {
        /*background-color: red;*/
        width: 100%;
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
        gap: 20px;
        border-bottom: 1px solid #eae9e9;
    }

    .text-left h {
        font-size: 16px;
        font-weight: bold;
        color: #008bff;
        margin-top: 30px;
        margin-left: 40px;
    }

    .text-left h1 {
        font-size: 20px;
        font-weight: bolder;
        margin-left: 40px;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .section-value-text .text-right {
        width: 100%;
    }

    .text-right {
        width: 50%;
        height: 40vh;
        margin-left: 0px;
        margin-right: 0px;
        padding: 20px;
    }

    .text-right p {
        margin-left: 40px;
        margin-right: 40px;
    }

    /*-------------------------------------*/

    .section-value-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 105vh;

    }
    .section-value-icons div img {
        width: 26%;
    }
    .section-value-icons div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        /*padding-top: 50px;*/
        margin-top: 30px;
    }

    .section-value-icons div h1 {
        font-size: 20px;
    }

    /*---------------------------------*/

    .section-our-team {
        /*background-color: #eef8f4;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 200px;
        height: 105vh;
        width: 100%;
        /*background-color: #008bff;*/

    }

    .section-our-team h {
        font-size: 28px;
        padding-top: 20px;
    }

    .our-team {
        display: flex;
       flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .our-team div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*------=---------------*/

    .creating-value {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .creating-value div {
        width: 100%;
        padding-top: 30px;
    }

    .creating-value img {
        width: 100%;
    }

    .creating-value div h {
        color: #008bff;
        letter-spacing: 1px;
        font-weight: bold;
        margin-left: 40px;
        margin-right: 40px;
        padding-top: 100px;
    }

    .creating-value div h1 {
        font-weight: bold;
        font-size:40px;
        margin-left: 40px;
        margin-right: 40px;
        color: #02be6e;
    }

    .creating-value div h2 {
        font-weight: lighter;
        font-size:40px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .creating-value div p {
        font-weight: lighter;
        margin-top: 30px;
        font-size: 14px;
        line-height: 1.7;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 30px;
    }




}
